<!-- <style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    
    html,body {
        height: 100%;
        width: 100%;
    }
    
    #drawer {
        position: fixed;
        height: 100%;
        background-color: rgb(156, 156, 156);
        width: 250px;
        padding: 20px 10px 0 20px;
        color: rgb(231, 231, 231);
        left: -200px;
        top: 0;
        transition: left .3s;
        z-index: 1;
    
        a {
            display: block;
            text-decoration: none;
        }
        button {
            margin-left: auto;
            display: block;
            padding: 2px 5px;
        }
    }

    .open {
        left: 0 !important;
    }
    </style>
    
    <div id="drawer" class="drawer">
        <button onclick="toggle_sidebar()">&#9776</button>
        <h2>Welcome back, User#1</h2>
        <br>
        <h3>Navigate to</h3>
        <a href="/dashboard">Profile</a>
        <a href="/gantt">Gantt Chart</a>
    </div>

    <script>
        function toggle_sidebar() {
            document.querySelector("#drawer").classList.toggle("open");
            
        }
    </script> -->